<ion-content>
    <mbsc-page>
        <mbsc-note primary>
            Swipe cards away left or right to clear stack.
        </mbsc-note>
        
        <mbsc-listview [options]="listSettings" class="custom-card-deck">
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>Best places to seek silence</mbsc-card-title>
                        <mbsc-card-subtitle>The Dhamma Giri, a vipassana meditation retreat.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_1.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card">
                    <mbsc-card-header>
                        <mbsc-card-title>Best animal adventure</mbsc-card-title>
                        <mbsc-card-subtitle>A young panda tests his climbing skills at the Chengdu Research Base.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_2.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-left">
                    <mbsc-card-header>
                        <mbsc-card-title>Best places to test your survival skills</mbsc-card-title>
                        <mbsc-card-subtitle>A view across the Turnagain Arm on Alaska's Kenai Peninsula.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_3.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>Most accessible destinations</mbsc-card-title>
                        <mbsc-card-subtitle>The impressive Mayan site of Chichén Itzá.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_4.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card">
                    <mbsc-card-header>
                        <mbsc-card-title>The world’s most extraordinary sleepovers</mbsc-card-title>
                        <mbsc-card-subtitle>Explore the azure depths with a stay at the Manta Resort's underwater room.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_5.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
        </mbsc-listview>
        
        <mbsc-note primary>
            Swipe cards away for cyclic movement.
        </mbsc-note>
        
        <mbsc-listview [options]="cycleSettings" class="custom-card-deck">
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>Best places to seek silence</mbsc-card-title>
                        <mbsc-card-subtitle>The Dhamma Giri, a vipassana meditation retreat.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_1.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-left">
                    <mbsc-card-header>
                        <mbsc-card-title>Best animal adventure</mbsc-card-title>
                        <mbsc-card-subtitle>A young panda tests his climbing skills at the Chengdu Research Base.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_2.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card">
                    <mbsc-card-header>
                        <mbsc-card-title>Best places to test your survival skills</mbsc-card-title>
                        <mbsc-card-subtitle>A view across the Turnagain Arm on Alaska's Kenai Peninsula.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_3.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>Most accessible destinations</mbsc-card-title>
                        <mbsc-card-subtitle>The impressive Mayan site of Chichén Itzá.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_4.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
            <mbsc-listview-item>
                <mbsc-card class="custom-card custom-card-rotate-left">
                    <mbsc-card-header>
                        <mbsc-card-title>The world’s most extraordinary sleepovers</mbsc-card-title>
                        <mbsc-card-subtitle>Explore the azure depths with a stay at the Manta Resort's underwater room.</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" src="//demo.mobiscroll.comhttps://img.mobiscroll.com/demos/card_5.png">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        
        </mbsc-listview>
    </mbsc-page>
</ion-content>